@import "tailwindcss";
@import "./tw-animate";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --font-sans: GeistVar, system-ui;
    --font-mono: GeistMono, ui-monospace;
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-field: var(--field);
    --color-border: var(--border);
    --color-ring: var(--ring);
    --color-brand: var(--brand);
    --color-brand-foreground: var(--brand-foreground);
    --color-neutral: var(--neutral);
    --color-neutral-foreground: var(--neutral-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-interaction: var(--interaction);
    --color-interaction-foreground: var(--interaction-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --radius-xs: calc(var(--radius) * 0.25);
    --radius-sm: calc(var(--radius) * 0.5);
    --radius-md: calc(var(--radius) * 0.75);
    --radius-lg: calc(var(--radius) * 1);
    --radius-xl: calc(var(--radius) * 1.5);
    --radius-2xl: calc(var(--radius) * 2);
    --radius-3xl: calc(var(--radius) * 3);
    --radius-4xl: calc(var(--radius) * 4);
}

@layer base {
    * {
        @apply border-border outline-ring;
    }

    body {
        @apply bg-background text-foreground;
    }
}

:root {
    color-scheme: light;
    --background: var(--color-white);
    --foreground: var(--color-neutral-950);
    --field: var(--color-neutral-200);
    --border: var(--color-neutral-200);
    --ring: var(--color-neutral-400);
    --brand: var(--color-neutral-900);
    --brand-foreground: var(--color-neutral-50);
    --neutral: var(--color-neutral-100);
    --neutral-foreground: var(--color-neutral-900);
    --muted: var(--color-neutral-100);
    --muted-foreground: var(--color-neutral-500);
    --interaction: var(--color-neutral-100);
    --interaction-foreground: var(--color-neutral-900);
    --destructive: var(--color-rose-700);
    --destructive-foreground: var(--color-rose-50);
    --radius: 0.625rem;
}

.dark {
    color-scheme: dark;
    --background: var(--color-neutral-950);
    --foreground: var(--color-neutral-50);
    --field: var(--color-neutral-800);
    --border: var(--color-neutral-800);
    --ring: var(--color-neutral-600);
    --brand: var(--color-neutral-50);
    --brand-foreground: var(--color-neutral-900);
    --neutral: var(--color-neutral-900);
    --neutral-foreground: var(--color-neutral-50);
    --muted: var(--color-neutral-800);
    --muted-foreground: var(--color-neutral-400);
    --interaction: var(--color-neutral-800);
    --interaction-foreground: var(--color-neutral-50);
    --destructive: var(--color-rose-900);
    --destructive-foreground: var(--color-rose-50);
}
