@namespace LumexUI.Composable.Registry

@using TailwindMerge

<div class="@TwMerge.Merge( ClassName, Class )"
     data-slot="field-content"
     @attributes="@AdditionalAttributes">
    @ChildContent
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }

    [Parameter] public string? Class { get; set; }

    [Parameter( CaptureUnmatchedValues = true )]
    public IReadOnlyDictionary<string, object>? AdditionalAttributes { get; set; }

    [Inject] public TwMerge TwMerge { get; set; } = default!;

    /*
     * ----------------------------------------------------------------------------------
     * Styles
     * ----------------------------------------------------------------------------------
     */

    private string? ClassName => new ElementClass( "gap-0.5 group/field-content flex flex-1 flex-col leading-snug" );
}
